<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="on" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" enabled="true">
                    <match url="^index$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^basisadministratie$" ignoreCase="false" />
                    <action type="Rewrite" url="basisadministratie.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^gegevens$" ignoreCase="false" />
                    <action type="Rewrite" url="gegevens.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^voertuigregistratie$" ignoreCase="false" />
                    <action type="Rewrite" url="voertuigregistratie.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^voertuiginformatie$" ignoreCase="false" />
                    <action type="Rewrite" url="voertuiginformatie.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^gebruikers$" ignoreCase="false" />
                    <action type="Rewrite" url="users.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^login$" ignoreCase="false" />
                    <action type="Rewrite" url="login.php" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^zoek$" ignoreCase="false" />
                    <action type="Rewrite" url="zoek.php" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^aangifte$" ignoreCase="false" />
                    <action type="Rewrite" url="aangifte.php" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^gms$" ignoreCase="false" />
                    <action type="Rewrite" url="gms.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^aangiftes$" ignoreCase="false" />
                    <action type="Rewrite" url="aangiftes.php" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^aangifteafschrift$" ignoreCase="false" />
                    <action type="Rewrite" url="aangifteafschrift.php" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^jaillog$" ignoreCase="false" />
                    <action type="Rewrite" url="jaillog.php" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^boete$" ignoreCase="false" />
                    <action type="Rewrite" url="boete.php" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^huiszoekingafschrift$" ignoreCase="false" />
                    <action type="Rewrite" url="huiszoekingafschrift.php" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^rdw$" ignoreCase="false" />
                    <action type="Rewrite" url="rdw.php" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^beveiligingscentrum$" ignoreCase="false" />
                    <action type="Rewrite" url="beveiligingscentrum.php" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^training$" ignoreCase="false" />
                    <action type="Rewrite" url="training.php" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^indexveh$" ignoreCase="false" />
                    <action type="Rewrite" url="indexveh.php" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^cjib$" ignoreCase="false" />
                    <action type="Rewrite" url="cjib.php" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^cjib_dossier$" ignoreCase="false" />
                    <action type="Rewrite" url="cjib_dossier.php" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^cjib_herinnering$" ignoreCase="false" />
                    <action type="Rewrite" url="cjib_herinnering.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
