body {
    background-color: #106ACB;
}

table {
    margin: 0;
    width: 100%;
    height: 94%;
    border-spacing: 0 0;
    table-layout: fixed;
}

table:hover {
    cursor: pointer;
}

td {
    font-size: 50pt;
    text-align: center;
    color: white;
}

td:hover {
    filter: brightness(0.25);
}

td.left {
    border-right: 0 solid darkslategray;
    border-bottom: 0 solid darkslategray;
}

td.right {
    border-left: 0 solid darkslategray;
    border-bottom: 0 solid darkslategray;
}

td img {
    width: 20%;
}

div.menuBar {
    position: relative;
    background: #004682;
    height: 6%;
    top: -6px;
	left: -6px;
	right: -6px;
	width: 102%;
}
.menu img.logo {
    margin-left: 0;
    width:25%;
}

div.bar {
    width: 75px;
    height: 10px;
    background-color: white;
    margin: 15px 0;
}

div.r {
    margin-top: -9%;
    padding-left: 90%;
}

div.logo-word {
	color: white;
	font-size: 55pt;
	padding-left: 20px;
}