body {
    background-color: #106ACB;
}

div.menuBar {
    position: relative;
    background: #004682;
    height: 6%;
    top: 0; 
}
.menu img.logo {
    margin-left: 0;
    width:25%;
}

div.bar {
    width: 75px;
    height: 10px;
    background-color: white;
    margin: 15px 0;
}

div.r {
    margin-top: -9%;
    padding-left: 90%;
}

h1 {
    font-size: 70pt;
    text-align: center;
    color: white;
}
input {
    position: relative;
    width: 80%;
    left: 10%;
    font-size: 50pt;
    border-radius: 6px;
    text-indent: 0px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.next {
    text-align: center;
}
.nextImage {
    padding-top: 10%;
    height: 7%;
}

.codeInput {
	width: 80px;
	text-align: center;
	margin-right:40px;
}

label {
	font-size: 50pt;
	color: white;
}

.btnSend {
	border: 0;
	border: 1px solid black;
	background-color: dodgerblue;
	border-radius: 10px;
	font-size: 30pt;
	color: white;
	line-height:80px
}