body {
    background-color: #106ACB;
}

table {
    margin: 0;
    width: 100%;
    height: 94%;
    border-spacing: 0 0;
    table-layout: fixed;
}

table:hover {
    cursor: pointer;
}

td {
    font-size: 40pt;
    color: white;
    border-right: none;
    border-bottom: 2px solid darkslategray;
    text-align: left;
}

img.iconSmall {
    position: relative;
    padding: -5px 0 0 48px; /* 38px icon width + 10px gap between icon and text */
}

div.menuBar {
    position: relative;
    background: #004682;
    height: 6%;
    top: 0;
}
.menu img.logo {
    margin-left: 0;
    width:25%;
}

div.bar {
    width: 75px;
    height: 10px;
    background-color: white;
    margin: 15px 0;
}

div.r {
    margin-top: -9%;
    padding-left: 90%;
}

img.driversLicIcon {
    position: relative;
    height: 100px;
}

textarea {
    border: 0;
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 100%;
}

.btnSend {
	border: 0;
	border: 1px solid black;
	background-color: dodgerblue;
	border-radius: 10px;
	font-size: 30pt;
	color: white;
	line-height:60px
}